*{
    font-family: 'Kanit', sans-serif;
}
.container{
    width: 50rem;
    height: 42rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(25px);
    margin-left:24%;
}
.details{
    display: flex;
    flex-direction: column;
    width: 500px;
    row-gap: 10px;
    margin-left:18%;
    scale: 0.8;
    margin-top: -6%;
}
.box{
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 2%;
}
.Add{
    font-size: larger;
    width:170px;
    height:50px;
    border-radius: 10px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
    margin-left: 34%;
    font-weight: 700;
    margin-top: 5%;
}
.Add:hover{
    background-color: rgb(187, 252, 90);
}
.text{
    background-color: rgba(240, 248, 255, 0.014);
    color: rgb(54, 54, 54);
    padding-left: 1%;
    font-size: 25px;
    font-weight: 700;
}